/*CSS Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, footer, header,
menu, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Begin Custom CSS */

.header {
	background-color: #388ab3;
	padding: 2rem;
}

.header__title {
	font-size: 3rem;
	text-align: center;
}

/* App Container */
.app-main {
	margin: 0 auto;
	width: 90%;
}

/* Guitar */
.guitar-neck {
	background-color: #38190c;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	position: relative;
	height: 200px;
	width: 100%;
}

.guitar-neck:before {
	background-color: #fff;
	border: 1px solid gray;
	content: ' ';
	display: block;
	position: absolute;
	height: 100%;
	width: 3%;
}

.string {
	position: relative;
	height: calc(100%/6);
	width: 100%;
}

.string:before {
	content: '';
	display: block;
	position: absolute;
    top: 50%;
    background-color: gray;
    width: 100%;
    transform: translateY(-50%);
}

.string:nth-of-type(1):before {
	height: 2px;
}

.string:nth-of-type(2):before {
	height: 3px;
}

.string:nth-of-type(3):before {
	height: 4px;
}

.string:nth-of-type(4):before {
	height: 5px;
}

.string:nth-of-type(5):before {
	height: 6px;
}

.string:nth-of-type(6):before {
	height: 7px;
}

.fret {
	display: inline-block;
	height: 100%;
	width: calc(100%/5);
}

/* Piano */









