/*CSS Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, footer, header,
menu, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
*
*
* Begin Custom CSS 
*
*
*/

.header {
	background-color: #388ab3;
	padding: 2rem;
}

.header__title {
	font-size: 2rem;
	text-align: center;
}

/* App Container */
.app-main {
	margin: 2rem auto;
	width: 95%;
}

/* Guitar */
.guitar {
	border: 1px solid #38190c;
	height: 150px;
	position: relative;
	margin-bottom: 2rem;
}

.guitar-neck {
	background-color: #38190c;
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-around;
	height: 100%;
	width: 100%;
}

.guitar-neck:before {
	background-color: #fff;
	content: ' ';
	display: block;
	position: absolute;
	height: 100%;
	width: 3%;
}

.string {
	position: relative;
	height: calc(100%/6);
	width: 100%;
}

.string:before {
	content: '';
	display: block;
    background: linear-gradient(0deg, #6d4f1a, #efd6ab);
	position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}

.string:nth-of-type(1):before {
	height: 3px;
}

.string:nth-of-type(2):before {
	height: 3px;
}

.string:nth-of-type(3):before {
	height: 4px;
}

.string:nth-of-type(4):before {
	height: 4px;
}

.string:nth-of-type(5):before {
	height: 5px;
}

.string:nth-of-type(6):before {
	height: 6px;
}

.fret {
	display: inline-block;
	position: relative;
	height: 100%;
	width: calc(97%/4);
}

.fret:first-of-type {
	width: 3%;
}

.dot {
	background-color: #f7931e;
	border: 2px solid white;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	height: 25px;
	width: 25px;
	transform-origin: 0% 0%;
	transform:
		scale(0,0)
		translateX(-50%)
		translateY(-50%);
	transition:
		transform 100ms ease-in-out;
}

.fret:first-of-type .dot {
	background-color: transparent;
	border: 2px solid black;
}

.fret.active .dot {
	transform:
		scale(1,1)
		translateX(-50%)
		translateY(-50%);
}

.fret-image {
	background: linear-gradient(to right, #4c4c4c, #cecece);
	position: absolute;
	height: 100%;
	width: 5px;
}

.fret-image:nth-of-type(1) {
	left: calc((97% * 0.25) + 3%);
}

.fret-image:nth-of-type(2) {
	left: calc((97% * 0.5) + 3%);
}

.fret-image:nth-of-type(3) {
	left: calc((97% * 0.75) + 3%);;
}

.fret-image:nth-of-type(4) {
	left: calc(97% + 3%);
}

/* Piano */
.piano {
	display: flex;
	position: relative;
	margin-bottom: 2rem;
	height: 100px;
	width: 100%;
}

.key {
	display: inline-block;
}

.key.active {
	background-color: #00a6e5;
}

.key-white {
	background-color: white;
	border: 1px solid black;
	border-right: none;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	height: 100%;
	width: calc(100%/18);
}

.key-black {
	background-color: #444;
	border: 1px solid black;
	border-top: none;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	height: 65%;
	margin: 0 -1.5% 0 -1.5%;
	position: relative;
	width: calc(100%/35);
}

.key-black:before {
	content: ' ';
	display: block;
	background-color: #222;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	position: absolute;
	top: 0;
	height: 95%;
	width: 100%;
}

.key-black.active:before {
	background-color: #006186;
}

.key-num-19 {
	display: none;
}

.key-num-28 {
	border-right: 1px solid black;
}

/*
* Media XS
*/
@media only screen and (min-width:400px) {
	.guitar {
		height: 170px;
	}

	.piano {
		height: 120px;
	}
}

/*
* Media SM
*/
@media only screen and (min-width:600px) {
	.app-main {
		width: 90%;
	}
	
	.header__title {
		font-size: 3rem;
	}

	.guitar {
		height: 200px;
	}

	.piano {
		height: 160px;
	}

}

/*
* Media MD
*/
@media only screen and (min-width:800px) {
	.piano {
		height: 180px;
	}
}

/*
* Media LG
*/
@media only screen and (min-width:900px) {
	.piano {
		height: 200px;
	}
}

/*
* Media XL
*/
@media only screen and (min-width:1000px) {
	.app-main {
		width: 900px;
	}
	.piano {
		height: 225px;
	}
}