/*CSS Reset*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, footer, header,
menu, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
*
*
* Begin Custom CSS 
*
*
*/

body {
	font-family: 'Open sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Poppins, serif;
	line-height: 1.3;
}

.app-main {
	transform: translateY(0px);
	transition:
		transform 600ms cubic-bezier(0.29, 0.69, 0.34, 0.99);
}

.menu-closed .app-main {
	transform: translateY(-200px);
}

.header__banner {
	background-color: #388ab3;
	position: relative;
    padding: 1rem 5rem 1rem 1rem;
	z-index: 1;
}

.header__title {
	color: white;
	font-size: 1.5rem;
    text-align: left;
	letter-spacing: 1px;
}

.menu-wrap {
	background-color: #444;
	box-shadow: inset 2px -1px 23px -5px black;
	transition:
		transform 600ms cubic-bezier(0.29, 0.69, 0.34, 0.99);
}

.menu-closed .menu-wrap {
	transform: translateY(-100%);
}

.menu {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	color: white;
	padding: 1.5rem;
	max-width: 900px;
	margin: 0 auto;
}

.menu-button {
	position: absolute;
	bottom: 1rem;
	right: 10px;
	height: 60px;
	width: 60px;
	transform: translateY(93px);
	transition:
		transform 600ms cubic-bezier(0.29, 0.69, 0.34, 0.99);
}

.menu-closed .menu-button {
	transform: translateY(0px);
}

.menu-closed .menu-button .icon-angle-down {
	transform: rotateX(0deg);
}

.menu-button:hover {
	cursor: pointer;
}

.menu__description {
	order: 1;
	font-family: 'Open sans', sans-serif;
	font-size: 1.2rem;
	padding-right: 3.5rem;
	width: 100%;
}

.chord-picker {
	order: 2;
	margin: 1rem 0 0;
	text-align: center;
	width: 100%;
}

.chord-picker__wrap {
	display: inline-block;
}

.menu select,
.menu button {
	background-color: #eee;
	-webkit-appearance: none;
	border: none;
    border-right: 1px solid gray;
    border-radius: 0px;
	font-size: 1.2rem;
	padding: 5px 10px;
}

.menu select:first-of-type {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.menu button {
	background-color: #e86666;
	border-right: none;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.icon-angle-down {
	fill: white;
	width: 100%;
	height: 100%;
	transform: rotateX(180deg);
	transition:
		fill 600ms cubic-bezier(0.29, 0.69, 0.34, 0.99),
		transform 600ms cubic-bezier(0.29, 0.69, 0.34, 0.99);
}

/* App Container */
.app-main {
	margin: 2rem auto;
	max-width: 900px;
	width: 95%;
}

/* Guitar */
.guitar {
	border: 1px solid #38190c;
	height: 150px;
	position: relative;
	margin-bottom: 2rem;
}

.guitar-neck {
	background-color: #38190c;
	display: flex;
	flex-direction: column-reverse;
	justify-content: space-around;
	height: 100%;
	width: 100%;
}

.string {
	position: relative;
	height: calc(100%/6);
	width: 100%;
}

.string:before {
	content: '';
	display: block;
    background: linear-gradient(0deg, #6d4f1a, #efd6ab);
	position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}

.string:nth-of-type(1):before {
	height: 6px;
}

.string:nth-of-type(2):before {
	height: 5px;
}

.string:nth-of-type(3):before {
	height: 4px;
}

.string:nth-of-type(4):before {
	height: 4px;
}

.string:nth-of-type(5):before {
	height: 3px;
}

.string:nth-of-type(6):before {
	height: 3px;
}

.fret-images {
	display: flex;
	justify-content: space-between;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.fret-image {
	background: linear-gradient(to right, #4c4c4c, #cecece);
	height: 100%;
	width: 5px;
}

.fret-image:first-of-type {
	background: linear-gradient(to right, #fff 60%, #aaa);
	height: 100%;
	width: 3%;
}

.fret {
	display: inline-block;
	position: relative;
	height: 100%;
	width: calc(97%/4);
}

.fret:first-of-type {
	width: 3%;
}

.fret:hover {
	cursor: pointer;
}

.dot {
	background-color: #f7931e;
	border: 2px solid white;
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	height: 18px;
	width: 18px;
	transform-origin: 0% 0%;
	transform:
		scale(0,0)
		translateX(-50%)
		translateY(-50%);
	transition:
		transform 100ms ease-in-out;
}

.dot:hover {
	cursor: pointer;
}

.fret:first-of-type .dot {
	background-color: rgba(255,255,255,0.5);
	border: 2px solid black;
}

.fret.active .dot {
	transform:
		scale(1,1)
		translateX(-50%)
		translateY(-50%);
}


/* Piano */
.piano {
	display: flex;
	position: relative;
	margin-bottom: 2rem;
	height: 100px;
	width: 100%;
}

.key {
	display: inline-block;
}

.key:hover {
	cursor: pointer;
}

.key.active {
	background-color: #00a6e5;
}

.key-white {
	background-color: white;
	border: 1px solid black;
	border-right: none;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	height: 100%;
	width: calc(100%/18);
}

.key-black {
	background-color: #444;
	border: 1px solid black;
	border-top: none;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	height: 65%;
	margin: 0 -1.5% 0 -1.5%;
	position: relative;
	width: calc(100%/35);
}

.key-black:before {
	content: ' ';
	display: block;
	background-color: #222;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	position: absolute;
	top: 0;
	height: 95%;
	width: 100%;
}

.key-black.active:before {
	background-color: #006186;
}

.key-num-19 {
	display: none;
}

.key-num-28 {
	border-right: 1px solid black;
}

/*
* Media XS
*/
@media only screen and (min-width:400px) {
	.menu-closed .app-main {
		transform: translateY(-180px);
	}

	.header__banner {
		padding: 1rem 8rem 1rem 1rem;
	}

	.guitar {
		height: 170px;
	}

	.piano {
		height: 120px;
	}

	.dot {
		height: 20px;
		width: 20px;
	}
}

/*
* Media SM and a half
*/
@media only screen and (min-width:450px) {
	.menu-closed .app-main {
		transform: translateY(-160px);
	}
	.header__banner {
		padding: 1rem;
	}

	.menu-closed .menu-button {
		transform: translateY(13px);
	}
}

/*
* Media SM
*/
@media only screen and (min-width:600px) {
	.app-main {
		width: 90%;
	}

	.menu-closed .app-main {
		transform: translateY(-120px);
	}

	.header__title {
		font-size: 2.0rem;
		text-align: center;
	}

	.menu {
		flex-wrap: nowrap;
	}

	.menu__description {
		padding-right: 4rem;
	}

	.menu-button {
		right: 20px;
	}

	.menu-closed .menu-button {
		transform: translateY(8px);
	}

	.chord-picker {
		order: 0;
    	margin: 0;
    	min-width: 20rem;
	    width: auto;
	}

	.guitar {
		height: 200px;
	}

	.piano {
		height: 160px;
	}

	.dot {
		height: 22px;
		width: 22px;
	}

}

/*
* Media MD
*/
@media only screen and (min-width:800px) {
	.menu-closed .app-main {
		transform: translateY(-80px);
	}
	.header__title {
		font-size: 2.4rem;
	}
	.menu-closed .menu-button {
		transform: translateY(3px);
	}
	.piano {
		height: 180px;
	}
	.dot {
		height: 25px;
		width: 25px;
	}
}

/*
* Media LG
*/
@media only screen and (min-width:900px) {
	.menu-closed .app-main {
		transform: translateY(-40px);
	}
	.piano {
		height: 200px;
	}
}

/*
* Media XL
*/
@media only screen and (min-width:1000px) {
	.piano {
		height: 225px;
	}
}